<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L]
</IfModule>

DirectoryIndex index.php

<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'self'; font-src 'self' *.gstatic.com; font-src 'self' https://*.gstatic.com; style-src 'self' *.googleapis.com; style-src 'self' https://*.googleapis.com"
</IfModule>

AddDefaultCharset UTF-8
